
/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(14, 14, 170);
  color: white;
  
}

.app {
  text-align: center;
  background-color: transparent;
   
}

.navbar {
  position: fixed;
 
  top: 0;
  left: 0;
  width: 97%;
  z-index: 1000; /* Ensure it's above other content */
  background-color: transparent; /* Optional: slight transparency */
  backdrop-filter: blur(10px);          /* Optional: blur effect */
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: none;
  
}
.navbar li{
  color: rgb(117, 0, 128);
  
  font-size: 20px;
}
.navbar a {
  text-decoration: none;  /* removes underline */
  color: violet;   
  transition: color 0.3s ease;        /* or white / desired color */
}
.navbar a:hover {
  color: rgb(105, 133, 255); /* or any highlight color */
}
.logo {
  color: violet;
  font-weight: bold;
}

.navbar ul {
  
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  
}

.navbar li:hover {
  cursor: pointer;
  color: rgb(138, 138, 231);
}
.aboutme{
 text-align: left;
 margin: 20px;
 padding-top: 70px;
 padding-left: 10px;
 padding-right: 500px;
}
.info{
  padding-top: 300px;
  
}
.header{
  padding-top: 0px;
    background-color: black;
    padding-bottom: 100px;
}
.header h1{
    color:green
}
.header-contact{
  
  text-align: center;
}
.header-contact h2{
  color: green;
}
.image-row {
  display: flex;
  gap: 30px; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}
.image-row img {
  max-width: 80px; 
  height: 40px;
  border-radius: 100px;
  
  
  
}
.home
{
  padding-top:230px;
  
  display:flex;
   flex-direction:row;
     align-items:center;
justify-content:space-between;
-webkit-text-fill-color:white ;
}

.home-left{
    width:50vw;
    text-align:left;
   padding-left:100px;
   }
   .heading-home h3{
    color: green;
   }
   .home button{
    margin: 20px;
    padding: 10px;
    width: 150px;
    background-color: rgb(255, 0, 179);
    color:black;
   }
   .home-image{
     display:flex;
     flex-direction:row;
     align-items:center;
     -webkit-text-fill-color:white ;
      border-radius: 100%;
       gap: 20px;
   }
    .heading-home
   {
    font-family:ubuntu;
    text-align:left;
    font-size:25px;
   font-weight:bold;
   -webkit-text-fill-color:rgb(12, 104, 50);
   
   }
   .image
{ 
  
padding-top:50px;
padding-left: 200px;
padding-right: 150px;
border-radius: 20dvh;
background: none;
}